body{
    background-color:#f0d7d7; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.innerContainer{
    width: 100%;
    margin: auto;
    cursor: pointer;
}
.main{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 100vh;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 1px 1px 1px 1px #ffffff;
    position: relative;
}
.Logo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.daily-Quote{
    margin-top: 30px;
    width: 450px;
    height: 200px;
    border: 1px solid #f0d7d7;
    line-height: 35px;
    padding: 30px 25px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 30%;
    box-shadow: 5px 0px 0px 5px #D1C1B1;
    opacity: 0;
    transition: opacity 60s ease-in-out;
}
.Input{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.Input input{
    width: 510px;
    height: 40px;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: #f9f6f6;
    border-radius: 10px 0px 0px 10px;
}
.Input input:hover{
    background-color: #D1C1B1;
}
.Input ul{
    margin-top: 15px;
}
button{
    border: 1px solid #ffffff;
    background-color: #f9f6f6;
    padding: 8px;
    border-radius: 0px 10px 10px 0px;
}
.Input ul li{
    width: 500px;
    height: 50px;
    list-style: none;
    background-color: aqua;
    margin-bottom: 10px;
    padding:10px ;
}
button:hover{
    background-color: #D1C1B1;
}

.Input >div{
    display: flex;
    flex-direction: row;
}
.todoElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
