body{
    background-color:#f0d7d7; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.innerContainer{
    width: 100%;
    margin: auto;
}
.main{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 100vh;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 1px 1px 1px 1px #ffffff;
    position: relative;
}
.Logo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.Quote{
    margin-top: 30px;
    width: 450px;
    height: 200px;
    border: 1px solid #f0d7d7;
    line-height: 35px;
    padding: 30px 25px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 30%;
    box-shadow: 5px 0px 0px 5px #D1C1B1;
}
.Input{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.Input input{
    width: 510px;
    height: 40px;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: #f9f6f6;
    border-radius: 10px 0px 0px 10px;
}
.Input input:hover{
    background-color: #D1C1B1;
}
.Input ul{
    margin-top: 15px;
}
.createBtn{
    border: 1px solid #ffffff;
    background-color: #f9f6f6;
    padding: 8px;
    border-radius: 0px 10px 10px 0px;
}
.Input ul li{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 50px;
    list-style: none;
    margin-bottom: 10px;
    padding:10px ;
}
.createBtn:hover{
    background-color: #D1C1B1;
}

.Input >div{
    display: flex;
    flex-direction: row;
}
.listContainer{
    display: flex;
    flex-direction: column;
    
}
.listContainer button{
    background-color: #f0d7d7;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
}
.listBtns{
    position: absolute;
    right:0px;
    margin-right: 155px;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
        margin: 0 20px; /* Adjust margin as needed */
    }

    .Quote {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .listContainer {
        flex-direction: column; /* Stack items vertically on smaller screens */
        margin-left: 0; /* Remove left margin to make it centered */
        align-items: center; /* Center items on smaller screens */
    }
    .listContainer button {
        margin-top: 10px; /* Add space between buttons on smaller screens */
    }
    .Input {
        display: flex;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 10px; /* Add some space between the input and listContainer */
        width: 100vw;
        box-sizing: border-box; /* Include padding and border in the width */
    }

    .Input ul {
        width: 100%;
        padding-left: 0;
    }

}

/* Mobile screens */
@media only screen and (max-width: 480px) {
    .Input input {
        width: 100%;
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .listContainer{
        margin-left: 50px;
    }
    .listBtns {
        margin-right: 100px;
    }

    .listContainer button {
        margin-right: 5px; /* Adjust spacing for smaller screens */
    }
}